<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Room1"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rooms"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Our"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Licenser"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Room2"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room3"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room4"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Room5"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room6"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room7"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room8"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room9"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room10"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room11"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room12"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room13"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room14"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room15"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room16"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room17"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room18"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room19"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room20"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room21"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room22"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room23"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room24"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room25"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room26"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room27"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room28"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room29"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Room30"
            android:exported="false"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>